.p-Widget.editor {
    min-width: 50px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: 1px solid #DDDDDD;
    border-top: none;
    background-color: #FFFFFF;
}