@import '~@phosphor/dragdrop/style/index.css';
@import '~@phosphor/widgets/style/index.css';
@import './tabbar.css';
@import './menubar.css';

body {
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menuBar {
  flex: 0 0 auto;
}

#main {
  flex: 1 1 auto;
}

#dock {
  padding: 4px;
}

/* Dark Theme */

body.--dark {
  background-color: #1e1e1e;
}

.--dark .p-Widget,
.--dark .p-TabBar-tab,
.--dark .p-TabBar-content,
.--dark .p-Menu-item > div::after,
.--dark .p-TabBar-tab:hover:not(.p-mod-current),
.--dark .p-MenuBar.p-mod-active .p-MenuBar-item.p-mod-active {
  color: #e2e4e9;
  border-color: #2e343d !important;
}

.--dark .p-Widget.button:hover,
.--dark .p-Menu-item.p-mod-active,
.--dark .p-TabBar-tab.p-mod-current,
.--dark .p-MenuBar .p-MenuBar-item.p-mod-active,
.--dark .p-MenuBar.p-mod-active .p-MenuBar-item.p-mod-active {
  color: #ffffff;
}

.--dark .p-Menu,
.--dark .p-MenuBar-item.p-mod-active,
.--dark .p-Widget.p-Menu.p-MenuBar-menu,
.--dark .p-TabBar-tab:hover:not(.p-mod-current) {
  background-color: #292d2f !important;
}

.--dark .p-MenuBar,
.--dark .p-Widget.content,
.--dark .p-Widget.sidebar,
.--dark .p-TabBar-tab.p-mod-current {
  background-color: #292d2f;
}

.--dark .p-TabBar-tab,
.--dark .p-Menu-item.p-mod-active {
  background-color: #2d3139;
}
