.p-Widget.log {
  min-width: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #dddddd;
  border-top: none;
  background-color: #ffffff;
  /* height: 100%; */
  /* padding: 16px 24px; */
  /* background: #000; */
  /* color: #fff; */
  /* margin: 0px; */
  line-height: 20px;
  overflow: scroll;
}
